// Custom mixins
@mixin wrap($key) {
    margin: 0 auto;
    max-width: get-default($maxwidths, $key);
}

// Döp om
@mixin spacing($key, $type: padding) {
    @if ($type == absolute) {
        left: get-default($spacings, $key);
        right: get-default($spacings, $key);
    } @else {
        #{$type}-right: get-default($spacings, $key);
        #{$type}-left: get-default($spacings, $key);
    }
}

// Core mixins
@mixin grid-container() {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

@mixin grid($width, $key: 'd') {
    $gutter: get-default($gutters, $key);
    $percentage: percentage($width);
    // Testa oss fram, kanske 0 0 auto
    flex: 0 1 auto;
    @if ($gutter == 0) {
        width: #{$percentage};
    } @else {
        width: calc(#{$percentage} - (#{$gutter} - #{$gutter} * #{$width}));
    }
}

@mixin media($key) {
    @if map-has-key($breakpoints, $key) {
        @media (min-width: map-get($breakpoints, $key)) {
            @content;
        }
    } @else {
        @error 'Unfortunately, no value could be retrieved from `#{$breakpoints}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
    }
}
