.u-confine {
    margin: 0 auto;
    padding-left: @padding--s;
    padding-right: @padding--s;
}

// Use as a container for grid items
.u-container {
    width: 100%;

    &--nowrap {
        display: table;
    }
}

.u-clearfix {
    zoom: 1;

    &:before {
        content: '';
        display: block;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media @media--m {
    .u-confine--m {
        max-width: @width--m;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
}

@media @media--l {
    .u-confine--l {
        max-width: @width--l;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
}
