// Widths and heights
@width--xs: 320px;
@width--s: 480px;
@width--m: 768px;
@width--l: 960px;
@width--xl: 1180px;

// Margins and paddings

// Media queries
@media--xs: ~'only screen and (min-width: @{width--xs})';
@media--s: ~'only screen and (min-width: @{width--s})';
@media--m: ~'only screen and (min-width: @{width--m})';
@media--l: ~'only screen and (min-width: @{width--l})';
@media--xl: ~'only screen and (min-width: @{width--xl})';

