/*
Generates a mediaquery selector based on dimension in $breakpoints from variables

Example:

    // In variables.scss
    $breakpoints: (
        sm: 480px
    );

    // Your bem-block
    @include media(sm) {
        .hello {
            color: red;
        }
    }

    Generates:
        @media (min-width: 480px) {
            .hello {
                color: red;
            }
        }
*/
@mixin media($key) {
    @if map-has-key($breakpoints, $key) {
        @media (min-width: map-get($breakpoints, $key)) {
            @content;
        }
    } @else {
        @error 'Unfortunately, no value could be retrieved from `#{$breakpoints}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
    }
}
